html {
  box-sizing: border-box;
  background-color: rgb(199, 238, 251);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.title-container {
  background-color: rgb(43, 195, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
}

.title {
  color: rgb(73, 14, 129);
  font-size: 20vh;
}

.recipes-table {
  display: flex;
}

.recipe-container {
  background-color: rgb(61, 77, 195);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42vh;
  margin: 4vh;
  margin-right: 0;
  padding: 4vh;
}

.recipe-container:last-child {
  margin-right: 4vh;
}

.recipe {
  line-height: 1.5em;
  font-size: 7vh;
  text-align: center;
}