html {
  box-sizing: border-box;
  background-color: rgb(199, 238, 251);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.title {
  background-color: rgb(43, 195, 144);
  color: rgb(73, 14, 129);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  width: auto;
  font-size: 20vh;
}

.recipes {
  display: flex;
  height: auto;
}

.recipes > * {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(61, 77, 195);
  width: 33.3333vw;
  min-width: min-content;
  height: 42vh;
  text-align: center;
  line-height: 1.5em;
  margin: 4vh;
  margin-right: 0;
  padding: 4vh;
  font-size: 7vh;
}

.recipes :last-child {
  margin-right: 4vh;
}